.ContactList {
  font-size: 20px;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 0;
}
.ContactListItem {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.ContactListNumber {
  color: rgb(118, 148, 9);
}
.ContactListButton {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  width: max-content;
  padding: 5px;
  color: rgb(118, 148, 9);
  background-color: rgb(229, 230, 218);
  border: 2px solid rgb(94, 94, 155);
  border-radius: 10px;
}
